

body{
  background-color: #333333;
  background-image: url('webbackground.jpg');
  background-size: contain;
  color: #ffffff;
  text-shadow: 5px, 5px, 5px, #111111;
}
.jumbotron {
  background-color: #333333;
  overflow: hidden;
  height: 300px;
}
.jumbotron h1{
  position: absolute;

}
h1{
  padding-bottom: 20px;
}

.container {
  padding:100px;
}
.text_box{
  display:inline;
  margin-top: -300px;
}
.jumbotron img{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {margin-top: -300px;}
  50% {margin-top: -100px;}
  100% {margin-top: -300px;}
}

/* Standard syntax */
@keyframes example {
  0% {margin-top: -300px;}
  50% {margin-top: -100px;}
  100% {margin-top: -300px;}
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}
.navbar li {
  padding: 5px;
  display: inline;
}
.navbar, .media, .head{
  justify-content: space-around;
}
.game{
  margin-bottom: 50px;
}
.game_main {
  overflow: hidden;
}
.game_main_img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flex{
  display:flex;
}
.button {
  display: inline;
  width: 150px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #111111;
  margin: 10px;
  color: #111111;
}
.button:hover{
  color: #ffffff;
  background-color: rgb(70,70,255);
}
.search{
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom:20px;
  width: 250px;
  background-color: #333333;
  font-size: 2em;
  border-style: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 5px;
}
.head {
  background-color: #555555;
  border-bottom: 2px solid #ffffff;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.hidden {
  display:none;
}
.inline {
  display:inline;
}
