

body{
  background-color: #333333;
  color: #ffffff;
  text-shadow: 5px, 5px, 5px, #111111;
}
.jumbotron {
  overflow: hidden;
  height: 300px;
}
.jumbotron h1{
  position: absolute;

}
h1{
  padding-bottom: 20px;
}
.jumbotron img{
  margin-top: -200px;
}
ul {
  list-style: none;
}
.navbar li {
  padding: 5px;
  display: inline;
}
.navbar, .media{
  justify-content: space-around;
}
.game{
  margin-bottom: 50px;
}
.game_main {
  overflow: hidden;
}
.game_main img {
  width: 100%;
}
.flex{
  display:flex;
}
.button {
  display: inline;
  width: 150px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #111111;
  margin: 10px;
  color: #111111;
}
.button:hover{
  color: #ffffff;
  background-color: rgb(70,70,255);
}
