

body{
  background-color: #333333;
  background-image: url('webbackground.jpg');
  background-size: contain;
  color: #ffffff;
  text-shadow: 5px, 5px, 5px, #111111;
}

.jumbotron {
  background-color: #333333;
  overflow: hidden;
  height: 300px;
}
.jumbotron h1{
  position: absolute;

}
h1{
  padding-bottom: 20px;
}

.container {
  padding:100px;
}

.jumbotron img{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0% {margin-top: -300px;}
  50% {margin-top: -100px;}
  100% {margin-top: -300px;}
}

/* Standard syntax */
@keyframes example {
  0% {margin-top: -300px;}
  50% {margin-top: -100px;}
  100% {margin-top: -300px;}
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

.navbar li {
  padding: 5px;
  display: inline;
}

.navbar, .media, .head{
  justify-content: space-around;
}

.game{
  margin-bottom: 50px;
}

.game_main {
  overflow: hidden;
}

.game_main_img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.flex{
  display:flex;
}
.button {
  display: inline;
  width: 150px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 3px;
  margin: 10px;
  color: #111111;
}

.button:hover{
  color: #ffffff;
  background-color: rgb(70,70,255);
}

.shadow{
  box-shadow: 2px 2px 5px #111111;
}

.search{
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom:20px;
  width: 250px;
  background-color: #333333;
  font-size: 2em;
  border-style: none;
  border-bottom: 2px solid #ffffff;
  border-radius: 5px;
}

.head {
  background-color: #555555;
  border-bottom: 2px solid #ffffff;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.hidden {
  display:none;
}

.inline {
  display:inline;
}


.more_about{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}
.img_slideshow{
  width: 40%;
  display: inline-block;
  flex-shrink: 10;
}
.img_slideshow img{
  width: 100%;
}
.info{
  padding:10px;
  min-height: 300px;
  width: 55%;
  display:inline-flex;
  justify-content: space-between;
  flex-direction: column;
}

.darker{
  background-color: #222222;
}

.interactive{
  display: inline-block;
  padding-top: 20px;
  height: 70px;
}

.youtube{
  display: inline;
  /*width:100%;*/
}
/*.youtube_iframe{
  width:100%;
  height:auto;
}*/

.youtube_iframe{
  width:320px;
  height:200px;
}
.news{

  padding:10px;
  width:55%;
  min-height: 300px;
}

.kkg{
  display: none;
}

.trailer_btn{
  display: none;
}

.labels{
  position: absolute;
  display: inline;
  margin-left: -128px;
  background-color: #444444;
}

.krazykeetgames{
  display: inline;
}


/*MEDIA QUERRIES*/

@media (orientation: portrait){
  .youtube{
    display: none;
  }
  .info{
    width:100%;
    padding: 1px;
    min-height: 200px;
  }
  .img_slideshow{
    width: 100%;
  }
  .news{
    width:100%;
    padding: 1px;
  }
  .container{
    padding: 0px;
  }
  body{
    background-image: none;
    width: 100%;
  }
  .jumbotron{
    display: none;
  }
  .navbar img {
    width:15%;
  }
  .krazykeetgames{
    display:none;
  }
  .kkg{
    display:inline-block;
  }
  .search{
    width: 150px;
    font-size: 1em;
  }
  .game{
    width:90%;
  }
  .trailer_btn{
    display: inline;
  }
  .more_about{
    padding-right: 0px;
  }
  .labels{
    display: none;
  }

/*  .game_main_img{
    width: 90%;
  }*/
}
